In [1]:
import mysql.connector
import pandas as pd

In [2]:
config = {
  'user': 'jake',
  'password': 'jake',
  'host': '127.0.0.1',
  'database': 'SportMaster',
  'raise_on_warnings': True,
}
cnx = mysql.connector.connect(**config)

In [3]:
Age = ("""SELECT 
    sm_clients.`client_reg_code`, t2.age
FROM
    sm_clients
        LEFT JOIN
    (SELECT 
        sm_clients.`CLIENT_REG_CODE`,
            TIMESTAMPDIFF(YEAR, sm_clients.birthday, '2016-10-13') AS age
    FROM
        sm_clients) t2 ON sm_clients.`CLIENT_REG_CODE` = t2.`CLIENT_REG_CODE`
WHERE
    sm_clients.client_reg_code IN (SELECT 
            sm_communication.`CLIENT_REG_CODE`
        FROM
            sm_communication
        WHERE
            sm_communication.action_code = 1693
                AND sm_communication.`STATE` = 2)
HAVING t2.age >= 14
Limit 100""")

ismobileAndisemail = ("""SELECT 
    sm_clients.client_reg_code,
    sm_clients.ismobile,
    sm_clients.isemail
FROM
    sm_clients
WHERE
    sm_clients.CLIENT_REG_CODE IN (SELECT 
            sm_communication.`CLIENT_REG_CODE`
        FROM
            sm_communication
        WHERE
            sm_communication.action_code = 1693
                AND sm_communication.`STATE` = 2)
LIMIT 100""")

In [4]:
Age_df = pd.read_sql_query(Age, cnx)
ismobileAndisemail_df = pd.read_sql_query(ismobileAndisemail, cnx)
merged_dataset = pd.merge(Age_df, ismobileAndisemail_df, how = 'left', on = ['client_reg_code'])

In [5]:
merged_dataset

       client_reg_code  age  ismobile  isemail
0   121000000000074432   42       1.0      0.0
1   121000000000076920   19       1.0      0.0
2   121000000000081678   23       1.0      0.0
3   121000000000093516   38       1.0      0.0
4   121000000000096110   33       1.0      1.0
5   121000000000109529   40       1.0      0.0
6   121000000000110148   46       1.0      0.0
7   121000000000113379   30       1.0      0.0
8   121000000000116787   36       1.0      0.0
9   121000000000118069   37       1.0      0.0
10  121000000000118588   49       1.0      0.0
11  121000000000119033   20       1.0      0.0
12  121000000000120833   69       0.0      0.0
13  121000000000121747   20       1.0      0.0
14  121000000000124264   49       1.0      0.0
15  121000000000124370   51       1.0      0.0
16  121000000000126829   24       1.0      0.0
17  121000000000128989   24       1.0      0.0
18  121000000000131235   67       1.0      0.0
19  121000000000131765   40       1.0      0.0
20  121000000000137086   20       1.0      0.0
21  121000000000140270   27       1.0      0.0
22  121000000000142624   17       1.0      0.0
23  121000000000143079   23       1.0      0.0
24  121000000000143692   42       1.0      0.0
25  121000000000144502   40       1.0      0.0
26  121000000000144622   68       1.0      0.0
27  121000000000145855   43       1.0      0.0
28  121000000000161084   36       1.0      0.0
29  121000000000163837   36       1.0      0.0
..                 ...  ...       ...      ...
70  121000000000292157   36       1.0      0.0
71  121000000000292796   38       1.0      1.0
72  121000000000295128   53       1.0      0.0
73  121000000000297271   64       1.0      0.0
74  121000000000299703   42       0.0      0.0
75  121000000000299773   58       1.0      0.0
76  121000000000301026   46       0.0      0.0
77  121000000000302410   37       1.0      0.0
78  121000000000302578   51       1.0      0.0
79  121000000000304662   34       1.0      0.0
80  121000000000304862   59       1.0      0.0
81  121000000000307420   65       1.0      0.0
82  121000000000308447   35       1.0      1.0
83  121000000000313503   48       1.0      1.0
84  121000000000314760   36       1.0      0.0
85  121000000000319756   30       1.0      0.0
86  121000000000321561   40       1.0      0.0
87  121000000000321894   54       1.0      0.0
88  121000000000326257   84       1.0      0.0
89  121000000000328860   34       1.0      0.0
90  121000000000330188   35       1.0      0.0
91  121000000000330338   47       1.0      0.0
92  121000000000331499   38       1.0      1.0
93  121000000000333915   23       1.0      0.0
94  121000000000340001   30       0.0      0.0
95  121000000000342175   52       1.0      0.0
96  121000000000342885   34       1.0      0.0
97  121000000000344135   61       1.0      0.0
98  121000000000346083   45       NaN      NaN
99  121000000000347359   35       NaN      NaN

[100 rows x 4 columns]